<div id="fixed_bg"></div>
<div id="inicio">
  
    <%= render 'intro' %>
    
    <%= render 'quienes_somos' %>
    
    <%= render 'perfil_empresarial' %>
    
    <%= render 'filosofia' %>
    
    <%= render 'presencia_internacional' %>  
  
</div>