<!DOCTYPE html>
<html>
<head>
  <title>Reno S.A.</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <%= analytics_init if Rails.env.production? %>
  
</head>
<body>
  <%= render 'layouts/header' %>
  <%= yield %>  
  <%= render 'layouts/footer' %>
</body>
</html>
